.btn.btn-primary {
    background-color: #ccc; /* Color de fondo inicial */
    color: #020202;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
}

.btn.btn-primary:hover {
    background-color: #555; 
}
footer {
    background-color: rgb(56, 56, 56);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

